*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#mapPage {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}
#sortSelector{
    margin-left: 7%;
    margin-top: 20px;
}
#mapItemsList {
    width: 35%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 77vh;
    
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    padding-left: 5%;
    padding-right: 3%;
}

#listItem:active, #listItem:hover, #listItem {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    text-decoration: none;
    color: #000000;
  
}

#moreInfo{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.globes {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

canvas {
    display: block;
    margin: auto;
}

.tooltip {
    position: absolute;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

.controls {
    position: absolute;
    top: 265px;
    left: 45%;
}

.controls button {
    display: block;
    margin-bottom: 5px;
}
.detail_text {
    padding-left: 25px;

}
.editItem{
    width: 90%;
    border: 1px solid gray;
    margin-top: 10px;
    
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    
    text-align: center;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   
   

}
.editButton{
    grid-column: 2;
    margin-right: 5%;
    justify-self: flex-end;
}
.editItemText{
    grid-column: 1;
}
.mainAdminPage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navAdmin{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    
}

#zoomIn, #zoomOut{
    width: 20px;
    height: 20px;
}
.filterAtt{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}