{% extends "base.html" %}

{% block content %}
    <h1>{{ earthquake_name }}</h1>
    <div id="earthquake_data_id" style="display: none;">{{earthquake[0]}}</div>
    <div class="detail">

    
    <div class="detail_text"> 
       
    
    <p>N: <b>{{ earthquake[1] }}</b></p>
    <p>Delta_MIN: <b>{{ earthquake[2] }}</b></p>
    <p>Delta_MAX: <b>{{ earthquake[3] }}</b></p>
    <p>Period_Range: <b>{{ earthquake[4] }}</b></p>
   <p>Residual: <b>{{ earthquake[5] }}</b></p>
    <p>Moment_0, deg: <b>{{ earthquake[6] }}</b></p>
    <p>h_depth, deg: <b>{{ earthquake[7] }}</b></p>
    <p>Delta_t: <b>{{ earthquake[8] }}</b></p>
    <p>l_MAX: <b>{{ earthquake[9] }}</b></p>
    <p>l_MIN: <b>{{ earthquake[10] }}</b></p>
    <p>V_speed: <b>{{ earthquake[11] }}</b></p>
    <p>F_1: <b>{{ earthquake[12] }}</b></p>
    <p>F_v:<b>{{ earthquake[13] }} </b></p>
    <p>Rupture_plane <b>{{ earthquake[14] }} </b> </p>
    <p>Bilateral_model <b>{{ earthquake[15] }} </b> </p>
    <p>Reference <b>{{ earthquake[16] }} </b> </p>

   


</div>
 <!-- 
    <div class="detail_visualization">
        <div id="image-container"></div>
    </div> -->

</div>
<!-- <script src="{{ url_for('static', filename='scripts/surface_drawer.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/beachball_show.js') }}"></script> -->
    {% endblock %}