{% extends "base.html" %}

{% block content %}
    <h1>Earthquake Details</h1>
    <div class="detail">

    
    <div class="detail_text"> 
    <p><b>{{ earthquake[26] }}</b></p>
    <p>Дата: <b>{{ earthquake[1] }}</b></p>
    <p>Широта: <b>{{ earthquake[3] }}</b></p>
    <p>Долгота: <b>{{ earthquake[4] }}</b></p>
    <p>Модель коры: <b>{{ earthquake[9] }}</b></p>
    <p>Mw: <b>{{ earthquake[11] }}</b></p>
    <p>M0: <b>{{ earthquake[12] }}</b></p>
    <p>Глубина источника <b>{{ earthquake[13] }} км</b></p>
</div>
    <div class="detail_visualization">f
        <canvas class="" id="canvas" width="500px" height="500px"></canvas>
    </div>

</div>
<script src="{{ url_for('static', filename='scripts/surface_drawer.js') }}"></script>
    {% endblock %}