<!doctype html>
<html>
<head>
    <title>Edit Earthquake</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/earthquake_detail.css') }}">
 
</head>
<body>
    <h1>Редактирование землетрясения </h1>
    <a href="{{ url_for('admin') }}">Вернуться к панели администратора</a>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="addEditTables">

        <div class="table1">
            <p class="tableName">
                 Таблица 1:
            </p>

        <p>
            {{ form.reference.label }}<br>
            {{ form.reference(size=32) }}
        </p>
        <p>
            {{ form.eq_date.label }}<br>
            {{ form.eq_date(size=32) }}
        </p>
        <p>
            {{ form.eq_time.label }}<br>
            {{ form.eq_time(size=32) }}
        </p>
    
        <p>
            {{ form.lattitude_deg.label }}<br>
            {{ form.lattitude_deg(size=32) }}
        </p>
        <p>
            {{ form.longtitude_deg.label }}<br>
            {{ form.longtitude_deg(size=32) }}
        </p>
        <p>
            {{ form.n.label }}<br>
            {{ form.n(size=32) }}
        </p>
        <p>
            {{ form.delta_min.label }}<br>
            {{ form.delta_min(size=32) }}
        </p>
        <p>
            {{ form.delta_max.label }}<br>
            {{ form.delta_max(size=32) }}
        </p>
        <p>
            {{ form.period_range.label }}<br>
            {{ form.period_range(size=32) }}
        </p>
        <p>
            {{ form.crustal_model.label }}<br>
            {{ form.crustal_model(size=32) }}
        </p>
        <p>
            {{ form.residual.label }}<br>
            {{ form.residual(size=32) }}
        </p>
        <p>
            {{ form.magnitude.label }}<br>
            {{ form.magnitude(size=32) }}
        </p>
        <p>
            {{ form.moment_0.label }}<br>
            {{ form.moment_0(size=32) }}
        </p>
        <p>
            {{ form.h_depth.label }}<br>
            {{ form.h_depth(size=32) }}
        </p>
        <p>
            {{ form.np1_azm.label }}<br>
            {{ form.np1_azm(size=32) }}
        </p>
        <p>
            {{ form.np1_dp.label }}<br>
            {{ form.np1_dp(size=32) }}
        </p>
        <p>
            {{ form.np1_slip.label }}<br>
            {{ form.np1_slip(size=32) }}
        </p>
        <p>
            {{ form.np2_azm.label }}<br>
            {{ form.np2_azm(size=32) }}
        </p>
        <p>
            {{ form.np2_dp.label }}<br>
            {{ form.np2_dp(size=32) }}
        </p>
        <p>
            {{ form.np2_slip.label }}<br>
            {{ form.np2_slip(size=32) }}
        </p>
        <p>
            {{ form.t_axis_azm.label }}<br>
            {{ form.t_axis_azm(size=32) }}
        </p>
        <p>
            {{ form.t_axis_pl.label }}<br>
            {{ form.t_axis_pl(size=32) }}
        </p>
        <p>
            {{ form.p_axis_azm.label }}<br>
            {{ form.p_axis_azm(size=32) }}
        </p>
        <p>
            {{ form.p_axis_pl.label }}<br>
            {{ form.p_axis_pl(size=32) }}
        </p>
        <p>
            {{ form.b_axis_azm.label }}<br>
            {{ form.b_axis_azm(size=32) }}
        </p>
        <p>
            {{ form.b_axis_pl.label }}<br>
            {{ form.b_axis_pl(size=32) }}
        </p>
    </div>
    <div class="table2">
        <p class="tableName">
            Таблица 2:
       </p>
            <p>
                {{ form.n_s2.label }}<br>
                {{ form.n_s2(size=32) }}
            </p>
            <p>
                {{ form.delta_min_s2.label }}<br>
                {{ form.delta_min_s2(size=32) }}
            </p>
            <p>
                {{ form.delta_max_s2.label }}<br>
                {{ form.delta_max_s2(size=32) }}
            </p>
            <p>
                {{ form.period_range_s2.label }}<br>
                {{ form.period_range_s2(size=32) }}
            </p>
            <p>
                {{ form.residual_s2.label }}<br>
                {{ form.residual_s2(size=32) }}
            </p>
            <p>
                {{ form.moment_0_s2.label }}<br>
                {{ form.moment_0_s2(size=32) }}
            </p>
            <p>
                {{ form.h_depth_s2.label }}<br>
                {{ form.h_depth_s2(size=32) }}
            </p>
            <p>
                {{ form.IntegralCharacteristics_delta_t_s2.label }}<br>
                {{ form.IntegralCharacteristics_delta_t_s2(size=32) }}
            </p>
            <p>
                {{ form.IntegralCharacteristics_l_max_s2.label }}<br>
                {{ form.IntegralCharacteristics_l_max_s2(size=32) }}
            </p>

            <p>
                {{ form.IntegralCharacteristics_l_min_s2.label }}<br>
                {{ form.IntegralCharacteristics_l_min_s2(size=32) }}
            </p>
            <p>
                {{ form.IntegralCharacteristics_v_speed_s2.label }}<br>
                {{ form.IntegralCharacteristics_v_speed_s2(size=32) }}
            </p>
            <p>
                {{ form.IntegralCharacteristics_f_1_s2.label }}<br>
                {{ form.IntegralCharacteristics_f_1_s2(size=32) }}
            </p>
            <p>
                {{ form.IntegralCharacteristics_f_v_s2.label }}<br>
                {{ form.IntegralCharacteristics_f_v_s2(size=32) }}
            </p>
            <p>
                {{ form.rupture_plane_s2.label }}<br>
                {{ form.rupture_plane_s2(size=32) }}
            </p>
            <p>
                {{ form.bilateral_model_s2.label }}<br>
                {{ form.bilateral_model_s2(size=32) }}
            </p>
            <p>
                {{ form.reference_s2.label }}<br>
                {{ form.reference_s2(size=32) }}
            </p>
            <p class="makeSure"> Убедитесь, что заполнены все поля таблиц</p>

            <p>{{ form.submit() }}</p>


            
        </div>
    </div>
      


       
    </form>
    
</body>
</html>
