{% extends "base.html" %}

{% block content %}
<h1>Earthquakes map</h1>
<div id="mapPage">
    <div id="earthquake_data" style="display: none;"> {{earthquakes_S1}}</div>
   

    <div id="mapItemsList">
        {% for earthquake in earthquakes_S1 %}
        <div id="listItem">
        
            <p>
                <b>{{ earthquake[26] }}</b>
            </br>
            Дата:
                <b>{{ earthquake[1] }}</b>
                </br>
                Широта:
                <b>{{ earthquake[3] }}</b>
                </br>
                Долгота:
                <b>{{ earthquake[4] }}</b>
                </br>
                Mw:
                <b>{{ earthquake[11] }}</b>
            </br>
                M0:
                <b>{{ earthquake[12] }}</b>
                </br>

            </p>
            <a href="{{ url_for('earthquake_detail', earthquake_id=earthquake[0]) }}" id="moreInfo">Подробнее</a>


       
        </div>




        {% endfor %}

    </div>
    <div class="globes">
        <div class="controls">
            <button id="zoomIn">+</button>
            <button id="zoomOut">-</button>
        </div>
        <canvas id="globe"></canvas>
        <div class="tooltip" id="tooltip"></div>
        
    </div>


</div>
<script src="{{ url_for('static', filename='scripts/globe_show.js') }}"></script>

{% endblock %}